:root{--ns-primary:47,88,255;--ns-success:70,201,58;--ns-warning:255,186,0;--ns-danger:255,71,87;--ns-dark:30,30,30}
::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-thumb{border-radius:2px;background-color:#dfe7fe;background-image:linear-gradient(45deg,#edf3fe 33%,transparent 0,transparent 66%,#f2f6fd 0,#f2f6fd 100%,transparent 0,transparent);border-radius:4px}
::-webkit-scrollbar-track{background:rgb(255 255 255)}
@media (max-width:640px){::-webkit-scrollbar{width:0;height:1px}
::-webkit-scrollbar-thumb{border-radius:5px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2);background:rgba(0,0,0,.2)}
.justify-end{border-radius:0!important}
}@font-face{font-family:web;src:url(https://cdn.jsdelivr.net/gh/qiamaomao/rbq-source/mkwtyt.woff2)}
body{font-family:web}
.cursor-pointer,a,button,input,select,textarea,transition{cursor:url(https://cdn.jsdelivr.net/gh/emeomo/vieu/S2.cur),auto!important}
body,input[disabled],input[readonly],select[disabled],select[readonly],textarea[disabled]{cursor:url(https://cdn.jsdelivr.net/gh/emeomo/vieu/S1.cur),auto}
html{min-height:100vh;font-family:BASE;-ms-text-size-adjust:100%;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-height:1.5;line-height:1.15;-webkit-text-size-adjust:100%}
body{height:100vh;color:#4a5568;overflow:hidden}
body,html{width:100vw;font-size:16px}
body{margin:0}
div#diy,div#layout{width:100%;height:100%;background-color:#fff;overflow:hidden}
#default-layout{height:100%;-webkit-transition:all .3s;transition:all .3s}
#default-layout.full-screen{padding:0}
#default-layout.full-screen #layout-container{border-radius:0}
@media (max-width:479px){#default-layout{padding:0;background-color:#fff}
#default-layout #layout-container{border-radius:0}
}@media (min-width:480px){#default-layout{padding:0;background-color:#fff}
}@media (min-width:980px){#default-layout{padding:2rem;background-color:#edf2f7}
}@media (min-width:1280px){#default-layout{padding:2.5rem;background-color:#edf2f7}
}@media (min-width:1920px){#default-layout{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
}#layout-container{position:relative;height:100%;overflow:hidden;min-height:500px;border-radius:30px}
#layout-container,.header{width:100%;background-color:#fff}
.header{position:absolute;top:0;left:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;z-index:999999;height:4rem;line-height:4rem;-webkit-transition:all .3s;transition:all .3s;-webkit-box-shadow:0 0 25px 15px rgba(47,88,255,.05);box-shadow:0 0 25px 15px rgba(47,88,255,.05);-webkit-box-shadow:0 0 25px 15px rgba(var(--ns-primary),.05);box-shadow:0 0 25px 15px rgba(var(--ns-primary),.05);background-color:hsla(0,0%,100%,.8);-webkit-backdrop-filter:saturate(180%) blur(5px);backdrop-filter:saturate(180%) blur(5px)}
.px-6{padding-left:1.5rem;padding-right:1.5rem}
.justify-end{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
.z-50{z-index:50}
.ml-6{margin-left:1.5rem}
.header .menu,.relative{position:relative}
.header .menu .menu-item a{display:block}
.header .menu .menu-item{text-align:center;cursor:pointer;-webkit-transition-property:background-color,border-color,color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform;transition-property:background-color,border-color,color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-box-shadow,-webkit-transform;white-space:nowrap}
a{color:inherit;text-decoration:inherit;background-color:transparent}
.scroll-area{padding-top:4rem;height:100%;overflow-y:scroll;scroll-behavior:smooth;overflow:overlay}
.py-10{padding-top:2.5rem;padding-bottom:2.5rem}
.justify-between{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
@media (min-width:200px){.xs\:items-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
}@media (min-width:640px){.sm\:items-start{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
}.justify-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.flex-col{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
@media (min-width:200px){.xs\:text-xl{font-size:1.25rem}
}@media (min-width:640px){.sm\:text-2xl{font-size:1.5rem}
}@media (min-width:768px){.md\:text-3xl{font-size:1.875rem}
}.whitespace-pre-line{white-space:pre-line}
.text-gray-700{color:#4a5568}
.font-bold{font-weight:700}
@media (min-width:200px){.xs\:text-center{text-align:center}
}@media (min-width:640px){.sm\:whitespace-pre-line{white-space:pre-line}
}@media (min-width:640px){.sm\:text-left{text-align:left}
}.text-sm{font-size:.875rem}
.text-gray-600{color:#718096}
.mb-10{margin-bottom:2.5rem}
.mt-4{margin-top:1rem}
blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button{background-color:transparent;background-image:none;padding:0}
[role=button],button{cursor:pointer}
button,input,optgroup,select,textarea{padding:0;line-height:inherit;color:inherit}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
.cursor-pointer{cursor:pointer}
.block{display:block}
.text-gray-100{color:#f7fafc}
.transition{-webkit-transition-property:background-color,border-color,color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform;transition-property:background-color,border-color,color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-box-shadow,-webkit-transform}
.md-radius{border-radius:.6rem}
.transition{-webkit-transition:all .3s;transition:all .3s}
.ns-button{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.ns-button.large{font-size:1rem;padding:.9rem 1.35rem}
.ns-button.ns-button--primary{background-color:#2f58ff;background-color:rgba(var(--ns-primary),1)}
.index{padding-top:1.5rem;width:90%;max-width:1240px;margin:0 auto}
.cover{-webkit-transition:all .3s;transition:all .3s}
@media (max-width:820px){.cover{display:none}
}@media (min-width:821px){.cover{width:45%}
}@media (min-width:1040px){.cover{width:50%}
}@media (min-width:1160px){.cover{width:60%}
}@media (min-width:1280px){.cover{width:360px}
}img{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none}
img,video{max-width:100%;height:auto}
audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle}
img{border-style:none}
@media (min-width:640px){.header .menu .menu-item{width:5rem}
div#pe{display:none}
}@media (max-width:1024px){.nav{display:none}
}@media (max-width:640px){.toggle {top: -1.5px!important;}
div#pc{display:none}
}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box;border:0 solid #e2e8f0}
fieldset,ol,ul{margin:0;padding:0}
ol,ul{list-style:none}
.header .menu{position:relative;z-index:50;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;color:#4a5568;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden}
.menu.is-collapse{position:absolute;top:0;right:0;z-index:50;width:8rem;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-color:#fff;margin-top:3.5rem;border-radius:1.6rem;-webkit-box-shadow:0 0 20px 5px rgba(0,0,0,.06);box-shadow:0 0 20px 5px rgba(0,0,0,.06)}
.menu.is-collapse.hide{-webkit-animation:fadeIn .234s ease 0s 1 both;-ms-animation:fadeIn .234s ease 0s 1 both;-moz-animation:fadeIn .234s ease 0s 1 both;-o-animation:fadeIn .234s ease 0s 1 both;animation:fadeIn .234s ease 0s 1 both}
.none{dispaly:none}
.creation-list{display:grid;grid-template-columns:1fr;grid-gap:2rem;gap:2rem}
@media (min-width:768px){.creation-list{padding:70px;grid-template-columns:1fr 1fr;grid-gap:2.4rem;gap:2.4rem}
}@media (min-width:1024px){.creation-list{grid-template-columns:1fr 1fr 1fr;grid-gap:2.4rem;gap:2.4rem}
}@media (min-width:1280px){.creation-list{grid-template-columns:1fr 1fr 1fr;grid-column-gap:2.1rem;-webkit-column-gap:2.1rem;-moz-column-gap:2.1rem;column-gap:2.1rem}
}.lg-radius{border-radius:.8rem}
.creation-list .creation-item{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;overflow:hidden}
.creation-list .creation-item,.creation-list .creation-item .cover-img{-webkit-transition:all .3s;transition:all .3s}
.object-cover{-o-object-fit:cover;object-fit:cover}
.py-2{padding-top:.5rem;padding-bottom:.5rem}
.px-3{padding-left:.75rem;padding-right:.75rem}
.bottom-0{bottom:0}
.relative{position:relative}
.truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.z-40{z-index:40}
.w-full{width:100%}
.left-0{left:0}
.top-0{top:0}
.absolute{position:absolute}
.opacity-75{opacity:.75}
.h-full{height:290px}
.bg-white{background-color:#fff}
.creation-list .creation-item{box-shadow:0 0 25px 15px rgba(var(--ns-primary),.05)}
.creation-list .creation-item:hover .cover-img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.ns-button.ns-button--primary{color:#90a2e9;background-color:#dfe7fe;background-image:linear-gradient(45deg,#edf3fe 33%,transparent 0,transparent 66%,#f2f6fd 0,#f2f6fd 100%,transparent 0,transparent);border-radius:50rem}
div#leimu{position:relative}
div#leimu img{position:absolute;bottom:0}
div#lamu{position:relative}
div#lamu img{position:absolute;bottom:0;right:0}
@media (max-width:768px){.creation-list{padding:25px}
}.text-4xl{font-size:2.25rem}
.text-gray-800{color:#2d3748}
.mb-4{margin-bottom:1rem}
.mt-3{margin-top:.75rem}
.w-12{width:3rem}
.bg-primary{background-color:#b2c2ff}
.text-white{color:#fff}
.rounded-md{border-radius:.375rem}
.items-center{padding:4px 3px 2px}
.text-gray-500{color:#a0aec0}
.mr-4{margin-right:1rem}
.items-center,.markdown-container{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.markdown-container{position:relative;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
a,button,img,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0)}
.markdown-wrapper{padding:2.5rem 1.25rem;max-width:800px}
#instantclick-bar{background:#d0dafc}
.none-active-articles:after{opacity:0;opacity:1;left:5rem}
.menu.hide.none-active-home:after,.none-active-articles:after{position:absolute;bottom:0;margin-bottom:.5rem;content:"";z-index:999999;width:2.5em;height:.25rem;border-radius:1.5rem;background-color:#e3e9fe!important;background:linear-gradient(45deg,#e5edfc 33%,transparent 0,transparent 66%,#e5edfc 0,#e5edfc 100%,transparent 0,transparent);-webkit-transform:translateX(50%);transform:translateX(50%);-webkit-transition:all .3s;transition:all .3s}
.menu.hide.none-active-home:after{opacity:1;left:0}
.menu.hide.none-active-wzgd:after{opacity:0;opacity:1;left:10rem}
.menu.hide.none-active-about:after,.menu.hide.none-active-wzgd:after{position:absolute;bottom:0;margin-bottom:.5rem;content:"";z-index:999999;width:2.5em;height:.25rem;border-radius:1.5rem;background-color:#e3e9fe!important;background:linear-gradient(45deg,#e5edfc 33%,transparent 0,transparent 66%,#e5edfc 0,#e5edfc 100%,transparent 0,transparent);-webkit-transform:translateX(50%);transform:translateX(50%);-webkit-transition:all .3s;transition:all .3s}
.menu.hide.none-active-about:after{opacity:0;opacity:1;left:20rem}
.categories.li-link{border-radius:12px;padding:12px;font-size:16px;display:inline-block;margin-bottom:8px;margin-right:8px;width:calc(8% - -3.6px)}
.categories.li-count{margin-top:5px;display:block}
.categories.li-count:after{content:" Articles"}
.categories.li-link:nth-child(7n+1){background-color:rgba(255,78,106,.15);color:#ff4e6a}
.categories.li-link:nth-child(7n+2){background-color:rgba(255,118,30,.15);color:#ff761e}
.categories.li-link:nth-child(7n+3){background-color:rgba(255,185,0,.15);color:#ffb900}
.categories.li-link:nth-child(7n+4){background-color:rgba(51,213,122,.15);color:#33d57a}
.categories.li-link:nth-child(7n+5){background-color:rgba(0,219,255,.15);color:#00dbff}
.categories.li-link:nth-child(7n+6){background-color:rgba(26,152,255,.15);color:#1a98ff}
.categories.li-link:nth-child(7n+7){background-color:rgba(144,144,255,.15);color:#9090ff}
#markdown-content{font-size:1.125rem;color:#4a5568}
#markdown-content h1{margin-top:1.5rem;margin-bottom:1.5rem;font-size:1.875rem;font-weight:700;color:#4a5568}
#markdown-content h2{margin-top:1.25rem;margin-bottom:1.25rem;font-size:1.5rem;font-weight:700}
#markdown-content h3{margin-top:1rem;margin-bottom:1rem;font-size:1.25rem;font-weight:700}
#markdown-content p{margin-top:1.25rem;margin-bottom:1.25rem;text-align:justify;display:inline-block}
#markdown-content a{color:rgba(47,88,255,.75);color:rgba(var(--ns-primary),.75)}
#markdown-content pre{margin:1rem 0;padding:1rem 1.5rem;white-space:pre-wrap;overflow-x:auto;overflow-y:hidden;width:calc(100% - 1rem);border-radius:1rem!important}
@media (max-width:500px){#markdown-content pre{width:calc(100vw - 3rem)}
}#markdown-content blockquote{margin-top:1.25rem;margin-bottom:1.25rem}
#markdown-content pre::-moz-selection{color:inherit;background:rgba(47,88,255,.06);background:rgba(var(--ns-primary),.06)}
#markdown-content pre::selection{color:inherit;background:rgba(47,88,255,.06);background:rgba(var(--ns-primary),.06)}
#markdown-content pre>code{font-weight:700;font-size:17px;font-family:web}
#markdown-content pre>code .token.comment{font-weight:400;font-size:16px}
#markdown-content img{margin:1rem 0!important;display:inline-block;border-radius:.8rem;-webkit-box-shadow:0 0 25px 10px rgba(90,90,90,.05);box-shadow:0 0 25px 10px rgba(90,90,90,.05)}
#markdown-content blockquote{padding-left:.75rem;border-left:.25em solid #cbd5e0}
#markdown-content:not(pre)>code{padding:.12em .28rem;border-radius:.4rem;color:rgba(47,88,255,.8);color:rgba(var(--ns-primary),.8);background:rgba(47,88,255,.06);background:rgba(var(--ns-primary),.06)}
@media screen and (max-width:768px){.categories.li-link{width:calc(50% - 8px)}
div#lamu,div#leimu{display:none}
}#markdown-content pre{box-shadow:0 0 25px 10px rgb(90 90 90/5%)}
.tagcloud.site a:nth-child(7n+1){background-color:rgba(255,78,106,.15);color:#ff4e6a}
.tagcloud.site a:nth-child(7n+2){background-color:rgba(255,118,30,.15);color:#ff761e}
.tagcloud.site a:nth-child(7n+3){background-color:rgba(255,185,0,.15);color:#ffb900}
.tagcloud.site a:nth-child(7n+4){background-color:rgba(51,213,122,.15);color:#33d57a}
.tagcloud.site a:nth-child(7n+5){background-color:rgba(0,219,255,.15);color:#00dbff}
.tagcloud.site a:nth-child(7n+6){background-color:rgba(26,152,255,.15);color:#1a98ff}
.tagcloud.site a:nth-child(7n+7){background-color:rgba(144,144,255,.15);color:#9090ff}
.tagcloud.site a{border-radius:15px;padding:6px 12px;font-size:15px!important;display:inline-block;margin-bottom:7px;margin-right:7px}
.tagcloud.site a:before{content:"# "}
span.tagcloud.li-unordered.list-count:before{content:" "}
.ml-1.text-lg.cursor-pointer:hover{transform:rotate(7deg);-ms-transform:rotate(7deg);-moz-transform:rotate(7deg);-webkit-transform:rotate(7deg);-o-transform:rotate(7deg)}
.ns-button.ns-button--primary{animation:sport .623s;transform:translateY(0)}
.cover{animation:sport .789s}
.cover,div#leimu{transform:translateY(0)}
div#lamu,div#leimu{animation:sport 1.145s}
div#lamu{transform:translateY(0)}
.items-center,.markdown-container,.scroll-area{animation:sport 1.123s;transform:translateY(0)}
@keyframes sport{0%{transform:translateY(100px)}
to{transform:translateY(0)}
}.toggle{position:absolute;left:-22px;top:1.5px;width:16px;height:16px;border-radius:50%;background:#e6f1fb;cursor:pointer}
.toggle:after,.toggle:before{position:absolute;left:50%;margin-left:-3px;margin-top:-3px;top:50%;content:" ";width:6px;height:6px;border-radius:50%;background:#06c;z-index:2;opacity:.4}
.flex.xs\:flex-col.sm\:flex-row.justify-center.items-center.select-none.my-16{margin-top:6rem}
.mx-12{margin-left:3rem;margin-right:3rem}
.sm\:w-12,svg#svg_1{width:5rem}
svg#svg_1{height:5rem;margin-right:.5rem}
svg#svg_2{width:15rem}
svg#svg_2,svg#svg_3{height:5rem;margin-right:1rem}
svg#svg_3{width:5rem}
@media (max-width:640px){.flex.xs\:flex-col.sm\:flex-row.justify-center.items-center.select-none.my-16{display:none}
}.schmenu{height:33px;line-height:33px;background:#636871;width:100%}
.schmenu,.schmenu ul{margin:0 auto;overflow:hidden}
.schmenu ul{width:1180px}
.schmenu ul li{float:left;list-style:none}
.schmenu ul li a{height:33px;line-height:33px;display:block;color:#fff;font-size:13px;padding:0 10px;text-decoration:none}
.schmenu ul li a:hover{color:#fff;background:#000;text-decoration:none;-webkit-transition:all .2s ease;-o-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease}
#markdown-content img,.cover-img{-webkit-animation:fadeIn 2s ease 0s 1 both;-ms-animation:fadeIn 2s ease 0s 1 both;-moz-animation:fadeIn 2s ease 0s 1 both;-o-animation:fadeIn 2s ease 0s 1 both;animation:fadeIn 2s ease 0s 1 both}
@-webkit-keyframes fadeOut{0%{opacity:1}
to{opacity:0}
}@keyframes fadeOut{0%{opacity:1}
to{opacity:0}
}@-webkit-keyframes fadeIn{0%{opacity:0}
to{opacity:1}
}@keyframes fadeIn{0%{opacity:0}
to{opacity:1}
}#markdown-content h2{background:linear-gradient(to bottom,transparent 60%,rgb(238 244 255) 0) no-repeat;width:auto;display:table}
#spimes-archives{padding:25px 0px 0px 0px}
.list-archive-day{font-size:15px;overflow:hidden;white-space:nowrap;padding:25px 0px 0px 25px;position:relative}
.list-archive-day a{position:relative}
article{margin-top:2rem}
.nav{position:fixed;font-size:.875rem;color:#718096;top:150px;right:100px;width:220px}
.table-of-contents:before{background-color:#e2e8f0;content:"";position:absolute;top:50%;left:20px;width:2px;height:calc(100% - 18px);-webkit-transform:translateY(-50%);transform:translateY(-50%);opacity:.35}
ol.toc{padding:0 .5rem}
.nav a{text-overflow:ellipsis;white-space:nowrap;margin-bottom:.25rem;padding-top:.25rem;padding-bottom:.25rem;padding-right:.25rem;display:block;border-radius:.25rem;cursor:pointer;position:relative;padding-left:2rem;-webkit-transition:all .3s;transition:all .3s}
.toc-text:before{width:6px;height:6px}
.toc-text:before{content:"";position:absolute;left:.5rem;top:50%;border-radius:50%;background:#7184a4;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.toc-item.toc-level-2{padding:0 1.5rem}
.waves{position:absolute;bottom:0;width:100%;height:60vh;margin-bottom:0;min-height:60px;max-height:60px}
.parallax>use{animation:move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite}
.parallax>use:first-child{animation-delay:-2s;animation-duration:7s}
.parallax>use:nth-child(2){animation-delay:-3s;animation-duration:10s}
.parallax>use:nth-child(3){animation-delay:-4s;animation-duration:13s}
.parallax>use:nth-child(4){animation-delay:-5s;animation-duration:20s}
@keyframes move-forever{0%{transform:translate3d(-90px,0,0)}
to{transform:translate3d(85px,0,0)}
}.parallax>use:nth-child(2){fill:#edf3fe}
.parallax>use:first-child{fill:#f2f6fd}
.parallax>use:nth-child(3){fill:#e5edfc}
.parallax>use:nth-child(4){fill:#edf3fe}
@media (max-width:640px){.waves-bg{display:none}
}